<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>Classics</title>
</head>
<body>
  <p-general>
    <o-header namespace="header-" role="header">
      <a-title namespace="header-title-">Migros-Kulturprozent-Classics präsentiert</a-title>
      <a-title namespace="header-title-">Search </a-title>
    </o-header>
    <o-body>
      <main>
        <m-form>
          <form action="/suche/" enctype="multipart/form-data" method="post">
            <a-text-field>
              <label for="Suche">Suche</label>
              <input id="SearchTerm" name="SearchTerm" type="text" value="" placeholder="Suchbegriff hier eingeben...">
            </a-text-field>
            <a-button icon-src="../../../img/search_icon_yellow.png" icon-src-secondary="../../../img/search_icon_blue.png">
              <button type="submit" aria-label="Search"></button>
            </a-button>
          </form>
      </m-form>
      </main>
    </o-body>
    <o-footer theme="classics" namespace="footer-">
          <a-logo class="hide-mobile" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
            <p>
                Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
                <br />
                <strong>
                    <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
                </strong>
            </p>
        </a-logo>
      <ul>
        <li><p><a href="#">CLASSICS-Newsletter bestellen</a></p></li>
        <li><p><a href="#">Programm Archiv</a></p></li>
        <li>
          <p>
            <a-link namespace="footer-" text-transform="uppercase">
              <a href="#">DE</a>
            </a-link>
            <a-link namespace="footer-" text-transform="uppercase">
              <a href="#">FR</a>
            </a-link>
            <a-link namespace="footer-" text-transform="uppercase">
              <a href="#">EN</a>
            </a-link>
          </p>
        </li>
        <br>
        <li>
          <p>
            <a-link namespace="footer-" text-transform="uppercase">
              <a href="#">Impressum</a>
              <span>, </span>
            </a-link>
            <a-link namespace="footer-" text-transform="uppercase">
              <a href="#">Datenschutz</a>
              <span>, </span>
            </a-link>
            <a-link namespace="footer-" text-transform="uppercase">
              <a href="#">Rechtliche Hinweise</a>
              <span>, </span>
            </a-link>
            <a-link namespace="footer-" text-transform="uppercase">
              <a href="#">Kontakt</a>
            </a-link>
          </p>
        </li>
      </ul>
      <div class="logo-container">
        <a-logo class="hide-desktop" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
        </a-logo>
        <a-logo src=../../../img/ClubConcertLogo_cyan.svg alt="Kulturprozent Classics Logo" href="#" namespace="footer-logo-"></a-logo>
      </div>
    </o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }

    /**
    * First level controllers and organisms are loaded and defined here (loadChildComponents)
    */
    Promise.all([
    // Controllers
    import('../../../es/components/prototypes/Shadow.js').then(module => null), // preload the dependency
    import('../../../es/components/pages/General.js').then(module => ['p-general', module.default]),
    import('../../../es/components/thirdParty/MacroCarousel.js').then(module => ['third-party-macro-carousel', module.default]),
    import('../../../es/components/organisms/Body.js').then(module => ['o-body', module.default]),
    import('../../../es/components/organisms/HighlightList.js').then(module => ['o-highlight-list', module.default]),
    import('../../../es/components/organisms/Header.js').then(module => ['o-header', module.default]),
    import('../../../es/components/organisms/Playlist.js').then(module => ['o-playlist', module.default]),
    import('../../../es/components/organisms/Footer.js').then(module => ['o-footer', module.default]),
    import('../../../es/components/molecules/Navigation.js').then(module => ['m-navigation', module.default]),
    import('../../../es/components/molecules/Highlight.js').then(module => ['m-highlight', module.default]),
    import('../../../es/components/molecules/PlaylistItem.js').then(module => ['m-playlist-item', module.default]),
    import('../../../es/components/atoms/Link.js').then(module => ['a-link', module.default]),
    import('../../../es/components/molecules/Form.js').then(module => ['m-form', module.default]),
    import('../../../es/components/atoms/TextField.js').then(module => ['a-text-field', module.default]),
    import('../../../es/components/atoms/Button.js').then(module => ['a-button', module.default]),
    import('../../../es/components/atoms/Logo.js').then(module => ['a-logo', module.default]),
    import('../../../es/components/atoms/Video.js').then(module => ['a-video', module.default]),
    import('../../../es/components/atoms/Title.js').then(module => ['a-title', module.default]),
    import('../../../es/components/atoms/Picture.js').then(module => ['a-picture', module.default])
    ]).then(elements => elements.forEach(element => {
      // don't define already existing customElements
      if (element && !customElements.get(element[0])) customElements.define(...element)
    }))
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
