<!DOCTYPE html>
<html lang=de is-home="true">

<head>
  <meta charset=UTF-8>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="Description"
    content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_KEY.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Classics</title>
</head>

<body>
  <p-general>

    <o-classics-header mobile-breakpoint="100000px" no-scroll="nav-open" menu-icon="true" namespace="header-"
      role="heading" flyer-transitionend="">
      <a-title namespace="header-title-" wrap="separated-span" no-scroll="nav-open" text-shadow="2px 4px 10px black">
        <a href="/">
          <h1>MIGROS-KULTURPROZENT-CLASSICS
            <span class="secondary-color">180°</span>
          </h1>
        </a>
      </a-title>

      <m-navigation tabindex="-1" mobile-breakpoint="0px" hover="false" namespace=navigation- no-scroll="nav-open"
        is-classic-navigation="true">
        <ul>
          <li class="close-icon-wrapper">
            <a-logo tabindex="0" src=../../../img/close-icon-classics.svg alt="close" namespace="header-logo-"></a-logo>
          </li>
          <li>
            <a href="#">News</a>
            <ul>
              <li>
                <a href="#highlight">Highlights</a>
              </li>
              <li>
                <a href="#aktuell">Aktuell</a>
              </li>
              <li>
                <a href="#programm">Programm</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Konzerte</a>
            <ul>
              <li>
                <a href="/de/spielplan">Spielplan</a>
              </li>
              <li>
                <a href="/de/Orchester">Orchester</a>
              </li>
              <li>
                <a href="/de/dirigent">Dirigent*innen</a>
              </li>
              <li>
                <a href="/de/solist">Solist*innen</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Tickets</a>
            <ul>
              <li>
                <a href="/de/bern">Bern</a>
              </li>
              <li>
                <a href="/de/Luzern">Luzern</a>
              </li>
              <li>
                <a href="/de/Genf">Genf</a>
              </li>
              <li>
                <a href="/de/Zurich">Zürich</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Backstage</a>
            <ul>
              <li>
                <a href="/de/werk">Werkeinführung</a>
              </li>
              <li>
                <a href="/de/archiv">Archiv</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">About</a>
            <ul>
              <li>
                <a href="/de/idee">Idee</a>
              </li>
              <li>
                <a href="/de/intendanz">Intendanz</a>
              </li>
              <li>
                <a href="/de/Talentförderung">Talentförderung</a>
              </li>
              <li>
                <a href="/de/Kontakt">Kontakt</a>
              </li>
            </ul>
          </li>
          <li class="language-switcher">
            <a class="active" href="">FR</a>
            <a href="">EN</a>
          </li>
          <li class="ticket-btn-wrapper">
            <a href="">Tickets kaufen</a>
          </li>
        </ul>
      </m-navigation>
      <a-picture img-width="1045" img-height="987" img-filter="true" landing-animation="true" custom-width-%="70"
        custom-mobile-width-%="90" picture-load namespace=picture- defaultSource="../../../img/header-imgs/1.png"
        alt="Some Alt text">
      </a-picture>

      <m-main-title-wrapper class="classics-main-title-wrapper" main-desktop-title-size-rem="5" custom-margin-top-px="0"
        custom-mobile-margin-top-px="20">
        <h2>BRUCKNERS <br> NEUNTE </h2>
        <h3>MO, 15*04*2024 <br> 19.30 UHR <br> TONHALLE ZÜRICH</h3>
        <a-link text-transform="uppercase" hover-underlined="false" hover-remove-underlined="true"
          base-underlined="false" general-color="#FFED00">
          <a href="#">Erfahre mehr <a-arrow direction=left></a-arrow></a>
        </a-link>
      </m-main-title-wrapper>
    </o-classics-header>
    <o-body>
      <main>
        <third-party-macro-carousel pagination loop interval="5000" namespace="carousel-">
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
        </third-party-macro-carousel>

        <a class="title-page-link" href="/">
          <h3>Lets go back to Home</h3>
        </a>
        <!-- 
        IMPORTANT: 
        <a-link>
        ONLY ONE ATTRIBUTE FROM
        hover-underlined 
        hover-remove-underlined
        base-underlined
        CAN BE TRUE!!
        -->
        <div>
          <a-link text-transform="uppercase" hover-underlined="false" hover-remove-underlined="false"
            base-underlined="true" general-color="#FFED00">
            <a href="#"><a-arrow direction="left"></a-arrow>Erfahre mehr</a>
          </a-link>

          <a-link text-transform="uppercase" hover-underlined="false" hover-remove-underlined="false"
            base-underlined="true" general-color="#FFED00">
            <a href="#">Erfahre mehr<a-arrow direction="left"></a-arrow></a>
          </a-link>

          <a-link text-transform="uppercase" hover-underlined="true" hover-remove-underlined="false"
            base-underlined="false" general-color="white">
            <a href="#"><a-arrow direction="right"></a-arrow>Erfahre mehr</a>
          </a-link>

          <a-link text-transform="uppercase" hover-underlined="true" hover-remove-underlined="false"
            base-underlined="false" general-color="white">
            <a href="#">Erfahre mehr<a-arrow direction="right"></a-arrow></a>
          </a-link>

          <a-link text-transform="uppercase" hover-underlined="false" hover-remove-underlined="true"
            base-underlined="false" general-color="red">
            <a href="#">Erfahre mehr <a-arrow direction="down"></a-arrow></a>
          </a-link>

          <a-link text-transform="uppercase" hover-underlined="false" hover-remove-underlined="true"
            base-underlined="false" general-color="red">
            <a href="#"><a-arrow direction="down"></a-arrow>Erfahre mehr</a>
          </a-link>

          <a-link text-transform="uppercase">
            <a href="#">Erfahre mehr <a-arrow direction="up-right"></a-arrow></a>
          </a-link>

          <a-link text-transform="uppercase">
            <a href="#"><a-arrow direction="up-right"></a-arrow>Erfahre mehr</a>
          </a-link>
        </div>

        <h3>Daniel Müller-Schott</h3>
        <p>Der Münchner Cellist Daniel Müller-Schott wurde als Gewinner des Ersten Preises beim Tschaikowsky-Wettbewerb
          in Moskau 1992 bekannt und durfte als Preisträger der <br>Anne-Sophie-Mutter-Stiftung unter anderem ein Jahr
          lang mit Mtislav Rostropowitsch studieren.</p>
        <!-- @ask using a-link throws error in shadow.js:202 -->
        <!-- should i add the same styles from body.js to link.js? link.js uses different variables/values -->
        <a href="#">Mehr erfahren</a>

        <div class="spacer"></div>

        <h2>Aktuell</h2>
        <a-picture namespace="picture-" defaultSource="../../../img/Classics_Joana-Mallwitz.png" alt="Joana Mallwitz"
          loading="lazy"></a-picture>
        <h3>Joanna Mallwitz im Gespräch</h3>
        <p>Sie ist die erste Dirigentin, die bei den Salzburger Festspielen eine Oper dirigiert: Joana Mallwitz, 34
          Jahre alt, Leidenschaftliche Mozart-Liebhaberin.</p>
        <a href="#">Zum Gespräch</a>

        <div class="spacer"></div>

        <a-video namespace="video-">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/fMUR4tFOG_c" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </a-video>
        <h3>Happy Birthday, Mr. Britten</h3>
        <p>(Aktuell B) Wunderkind, Pazifist, Exilant: Der erfolgreichste englische Komponist des 20. Jahrhunderts bietet
          gleich eine Vielzahl von Facetten.</p>
        <a href="#">Video ARTE</a>

        <a-video namespace="video-">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/fMUR4tFOG_c" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </a-video>
        <h3>Teodor Currentzis Backstage</h3>
        <p>(Aktuell C) «Es ist mein Job zu träumen», sagt Teodor Currentzis. Überraschend offene Einsichten in seine
          Innenwelt gewährt uns der Chefdirigent des SWR Symphonieorchesters im Backstage Talk.</p>
        <a href="#">Backstage Talk 3:36 min</a>

        <div class="spacer"></div>

        <o-playlist namespace="playlist-" border-top-first-child="false">
          <m-playlist-item namespace="playlist-item-">
            <h2>Saison*programm</h2>
          </m-playlist-item>
          <m-playlist-item namespace="playlist-item-">
            <p>2020*21</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li><a href="#">Bern</a></li>
              <li><a href="#">Genf</a></li>
              <li><a href="#">Luzern</a></li>
              <li><a href="#">Zürich</a></li>
            </ul>
          </m-playlist-item>
          <m-playlist-item namespace="playlist-item-">
            <p>2019*20</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li><a href="#">Bern</a></li>
              <li><a href="#">Genf</a></li>
              <li><a href="#">Luzern</a></li>
              <li><a href="#">Zürich</a></li>
            </ul>
          </m-playlist-item>
          <m-playlist-item namespace="playlist-item-">
            <p>2018*19</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li><a href="#">Bern</a></li>
              <li><a href="#">Genf</a></li>
              <li><a href="#">Luzern</a></li>
              <li><a href="#">Zürich</a></li>
            </ul>
          </m-playlist-item>
          <m-playlist-item namespace="playlist-item-">
            <p>2017*18</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li><a href="#">Bern</a></li>
              <li><a href="#">Genf</a></li>
              <li><a href="#">Luzern</a></li>
              <li><a href="#">Zürich</a></li>
            </ul>
          </m-playlist-item>
        </o-playlist>
      </main>
    </o-body>
    <o-footer id="scroll-text" theme="classics" namespace="footer-">
      <div class="social-media-wrapper">
        <a-logo src=../../../img/footer-icons/classics-facebook-footer.svg alt="Facebook Logo"
          href="https://www.facebook.com/migrosclassics" namespace="footer-logo-"></a-logo>
        <a-logo src=../../../img/footer-icons/classics-instagram-footer.svg alt="Instagram Logo"
          href="https://www.instagram.com/migrosclassics/?igshid=YmMyMTA2M2Y%3D" namespace="footer-logo-"></a-logo>
        <a-logo src=../../../img/footer-icons/classics-tiktok-footer.svg alt="TikTok Logo"
          href="https://www.instagram.com/migrosclassics/?igshid=YmMyMTA2M2Y%3D" namespace="footer-logo-"></a-logo>
        <a-logo src=../../../img/footer-icons/classics-youtube-footer.svg alt="Youtube Logo"
          href="https://www.instagram.com/migrosclassics/?igshid=YmMyMTA2M2Y%3D" namespace="footer-logo-"></a-logo>
        <a-logo src=../../../img/footer-icons/classics-newsletter-footer.svg alt="Newsletter Logo" href="#"
          namespace="footer-logo-"></a-logo>
      </div>
      <div class="bottom-part">
        <div>
          <a-logo class="hide-mobile" namespace="footer-engagement-logo-"
            src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg"
            href="https://migros-engagement.ch" target="_blank" lang="de">
            <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
            </p>
          </a-logo>
        </div>
        <div class="footer-ul-wrapper">
          <ul>
            <li class="footer-language-switcher">
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">DE</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">FR</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">EN</a>
              </a-link>
            </li>
            <li>
              <p>
                <a-link namespace="footer-" text-transform="uppercase">
                  <a href="#">Impressum</a>
                  <span>, </span>
                </a-link>
                <a-link namespace="footer-" text-transform="uppercase">
                  <a href="#">Datenschutz</a>
                  <span>, </span>
                </a-link>
                <a-link namespace="footer-" text-transform="uppercase">
                  <a href="#">Rechtliche Hinweise</a>
                  <span>, </span>
                </a-link>
                <a-link namespace="footer-" text-transform="uppercase">
                  <a href="#">Kontakt</a>
                </a-link>
              </p>
            </li>
            <li>
              <p>&copy; 2024 Migros-Kulturprozent-Classics</p>
            </li>
          </ul>
        </div>
        <div class="logo-container">
          <a-logo class="hide-desktop" namespace="footer-engagement-logo-"
            src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg"
            href="https://migros-engagement.ch" target="_blank" lang="de">
            <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
            </p>
          </a-logo>
          <a-logo src=../../../img/migros_kulturprozent_classics_cyan.svg alt="Kulturprozent Classics Logo" href="#"
            namespace="footer-logo-"></a-logo>
        </div>
      </div>

    </o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
  <!-- fonts -->
  <script type="text/javascript" async
    src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>

</html>