<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../../favicon.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClubConcerts.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>club concerts & umbraco</title>
</head>
<body>
  <p-general>
    <o-header namespace=header->
      <a-logo src=../../../img/ClubConcertLogo.svg alt="Club Konzerte Logo" href=../../../index.html namespace=header-logo-></a-logo>
      <style>
        :host header a-logo {
          align-self: flex-end;
        }
        :host p {
          text-align: center;
          font-size: var(--p-font-size);
          margin: 30px auto;
          padding: 0 15px;
        }
        .headerText {
          margin: 40px 0 0 0;
        }
        .headerText h1 {
          color: var(--color, white);
          font-size: 6rem;
          line-height: 5rem;
          font-family: var(--font-family-bold, 'OPTIFutura-ExtraBlackCond');
          margin: 0;
          text-transform: uppercase;
        }
        .headerText h1.secondaryColor {
          color: var(--color-secondary, #ffeb3d);
        }
        #introHighlight {
          margin-top: 50px;
        }
      </style>
      <div class="headerText">
        <h1>CLUB</h1>
        <h1>KONZERTE</h1>
        <h1 class="secondaryColor">LIVE</h1>
      </div>
    </o-header>
    <o-body>
      <o-highlight-list namespace=highlight-list->
        <m-highlight id="introHighlight">
          <a-picture namespace=picture- defaultSource=../../../img/JulieCampiche.jpg alt="Juli Campiche spielt Harfe" sources="[{
            'src': '../../../img/JulieCampiche.jpg',
            'size': 'small',
            'type': 'image/jpg'
          }, {
            'src': '../../../img/JulieCampiche.jpg',
            'size': 'medium',
            'type': 'image/jpg'
          }]"></a-picture>
          <p>
            Club-Konzerte finden in Genf, Bern, Luzern und Zürich für ein kleines Publikum statt. <br> 
            Junge Musiker*innen unserer Talent-Wettbewerbe treten gemeinsam mit Schweizer Jazzmusiker*innen auf.
          </p>
        </m-highlight>
        <m-highlight>
          <h2>Zürich</h2>
          <p>Dienstag, 16. März 2021 in der Helferei</p>
          <p>Classics-Tournee Deutsches Symphonie-Orchester Berlin</p>
          <p class="secondaryColor">Extrakonzert Israel Philharmonic Orchestra</p>
          <ul>
            <li><a href="#">zum Programm</a></li>
            <li><a href="#">Tickets</a></li>
          </ul>
          <a-picture namespace=picture- defaultSource=../../../img/JulieCampiche.jpg alt="Juli Campiche spielt Harfe"></a-picture>
        </m-highlight>
        <m-highlight>
          <h2>Zürich</h2>
          <p>Dienstag, 16. März 2021 in der Helferei</p>
          <p>Classics-Tournee Deutsches Symphonie-Orchester Berlin</p>
          <p class="secondaryColor">Extrakonzert Israel Philharmonic Orchestra</p>
          <ul>
            <li><a href="#">zum Programm</a></li>
            <li><a href="#">Tickets</a></li>
          </ul>
          <a-picture namespace=picture- defaultSource="../../../img/CCroisé_Sept20_257_done.jpg" alt="Croisé"></a-picture>
        </m-highlight>
      </o-highlight-list>
    </o-body>
    <o-footer namespace=footer- theme=simple>
      <a-logo src=../../../img/ClubConcertLogo.svg alt="Club Konzerte Logo" href=../../../index.html namespace=footer-logo-></a-logo>
      <ul>
        <li>
          <a href="#">Migros-Kulturprozent-Classics</a>
        </li>
        <li>
          <a href="#">Impressum</a>
        </li>
        <li>
          <a href="#">Disclaimer</a>
        <li>
          <a href="#">Kontakt</a>
        </li>
      </ul>
      <ul class="languageSwitcher">
        <li><a href=#de>Deutsch</a></li>
        <li><a href=#fr>Français</a></li>
        <li><a href=#en>English</a></li>
      </ul>
      <ul class="languageSwitcherMobile">
        <li><a href=#de>DE</a></li>
        <li><a href=#fr>FR</a></li>
        <li><a href=#en>EN</a></li>
      </ul>
    </o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '800px'
    }

    /**
    * First level controllers and organisms are loaded and defined here (loadChildComponents)
    */
    Promise.all([
    // Controllers
    import('../../../es/components/prototypes/Shadow.js').then(module => null), // preload the dependency
    import('../../../es/components/pages/General.js').then(module => ['p-general', module.default]),
    import('../../../es/components/organisms/Header.js').then(module => ['o-header', module.default]),
    import('../../../es/components/atoms/Logo.js').then(module => ['a-logo', module.default]),
    import('../../../es/components/atoms/Picture.js').then(module => ['a-picture', module.default]),
    import('../../../es/components/organisms/Body.js').then(module => ['o-body', module.default]),
    import('../../../es/components/organisms/HighlightList.js').then(module => ['o-highlight-list', module.default]),
    import('../../../es/components/molecules/Highlight.js').then(module => ['m-highlight', module.default]),
    import('../../../es/components/organisms/Footer.js').then(module => ['o-footer', module.default])
    ]).then(elements => elements.forEach(element => {
      // don't define already existing customElements
      if (element && !customElements.get(element[0])) customElements.define(...element)
    }))
  </script>
</body>
</html>
