<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>Classics</title>
</head>
<body>
  <p-general>
    <o-body>
      <h2>NEWSLETTER</h2>
      <p>Hier gibts den Newsletter</p>
      <br>
      <m-form type="newsletter" namespace="search-" namespace-children="search-field-" use-html-submit>
          <style>
            :host {
              --search-field-radio-height: auto;
              --search-field-checkbox-height: auto;
              --search-field-input-radio-margin: 10px 0;
              --search-field-input-checkbox-margin: 10px 0;
            }
            :host form {
              display: inline !important;
            }
          </style>
          <form action="https://nlink.migros-kulturprozent-classics.ch/dispatcher/service" method="post" id="online_form">
            <input type="hidden" name="ac" value="reg">
            <input type="hidden" name="clientCode" value="ASrrB9ASTmKaGVqEBe">
            <input type="hidden" name="doubleOptin" value="1">
            <input type="hidden" name="xp_sendBackParams" value="0">
            <input type="hidden" name="trackId" value="null" id="trackId">
            <input type="hidden" name="Sprache" value="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName.ToUpper()" id="Sprache">
            <label for="Email">E-Mail</label>
            <input id="Email" type="email" required="" value="" name="Email" placeholder="Email hier eingeben...">
            <label for="anrede1">Herr</label>
            <input id="anrede1" name="Anrede" type="radio" value="2" />
            <label for="anrede2">Frau</label>
            <input id="anrede2" name="Anrede" type="radio" value="1" />
            <label for="Firstname">Vorname</label>
            <input id="Firstname" type="text" required="" value="" name="Vorname" placeholder="Vorname hier eingeben...">
            <label for="Name">Name</label>
            <input id="Name" type="text" required="" value="" name="Name" placeholder="Name hier eingeben...">
            <label class="normal" for="Policy">Ich bestätige, dass ich die <a href="https://www.migros.ch/de/datenschutz.html" target="_blank">Datenschutzerklärung</a> und die darin umschriebene Bearbeitung meiner Personendaten zur Kenntnis genommen haben.</label>
            <input reverse id="Policy" name="Policy" required="" type="checkbox" value="false" />
            <button type="submit">Registrieren</button>
            <div class="form-group fusp" style="visibility:hidden">
                <label for="FuSb">Website</label>
                <input type="text" name="FuSb" id="FuSb" value="" />
            </div>
          </form>
      </m-form>
    </o-body>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }

    /**
    * First level controllers and organisms are loaded and defined here (loadChildComponents)
    */
    Promise.all([
    // Controllers
    import('../../../es/components/prototypes/Shadow.js').then(module => null), // preload the dependency
    import('../../../es/components/pages/General.js').then(module => ['p-general', module.default]),
    import('../../../es/components/thirdParty/MacroCarousel.js').then(module => ['third-party-macro-carousel', module.default]),
    import('../../../es/components/organisms/Body.js').then(module => ['o-body', module.default]),
    import('../../../es/components/organisms/HighlightList.js').then(module => ['o-highlight-list', module.default]),
    import('../../../es/components/organisms/Header.js').then(module => ['o-header', module.default]),
    import('../../../es/components/organisms/Playlist.js').then(module => ['o-playlist', module.default]),
    import('../../../es/components/organisms/Footer.js').then(module => ['o-footer', module.default]),
    import('../../../es/components/molecules/Navigation.js').then(module => ['m-navigation', module.default]),
    import('../../../es/components/molecules/Highlight.js').then(module => ['m-highlight', module.default]),
    import('../../../es/components/molecules/PlaylistItem.js').then(module => ['m-playlist-item', module.default]),
    import('../../../es/components/atoms/Link.js').then(module => ['a-link', module.default]),
    import('../../../es/components/atoms/Button.js').then(module => ['a-button', module.default]),
    import('../../../es/components/atoms/Logo.js').then(module => ['a-logo', module.default]),
    import('../../../es/components/atoms/Video.js').then(module => ['a-video', module.default]),
    import('../../../es/components/atoms/Title.js').then(module => ['a-title', module.default]),
    import('../../../es/components/atoms/Picture.js').then(module => ['a-picture', module.default]),
    import('../../../es/components/atoms/Input.js').then(module => ['a-input', module.default]),
    import('../../../es/components/molecules/Form.js').then(module => ['m-form', module.default])

    ]).then(elements => elements.forEach(element => {
      // don't define already existing customElements
      if (element && !customElements.get(element[0])) customElements.define(...element)
    }))
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
