/* hide component stuff before it is rendered to avoid the blitz (flashing white) also set the --background-color in the variables...css */
html {
  background-color: var(--background-color, transparent);
}
html, html a {
  color: transparent;
}
/* IE10+ CSS styles go here */
_:-ms-lang(x), .ie10up {
  background-color: white;
  color: black;
}
_:-ms-lang(x) a, .ie10up a {
  color: blue;
}
_:-ms-lang(x) body::before, .ie10up body::before {
  color: red;
  content: "Warning! You are using Internet Explorer; hence this page is intentionally left ugly ;-)";
}