/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
:root {
  --a-display: block;
  --a-margin: 0 auto;
  --a-text-align: center;
  --a-text-decoration-hover: underline;
  --a-text-decoration: none;
  --a-text-underline-offset: 0.2em;
  --background-color: #009fe3;
  --border-bottom: 2px solid var(--color);
  --border-left: 2px solid var(--color);
  --border-top: 2px solid var(--color);
  --carousel-a-text-decoration-hover: var(--a-text-decoration-hover);
  --carousel-a-text-decoration: var(--a-text-decoration);
  --carousel-a-text-underline-offset: var(--a-text-underline-offset);
  --carousel-color-hover: var(--color-hover);
  --carousel-color: var(--color);
  --carousel-pagination-background-color-selected: white;
  --carousel-pagination-background-color: #FFED00;
  --carousel-pagination-bottom: 10px;
  --carousel-pagination-position: absolute;
  --carousel-pagination-width: 10px;
  --carousel-transition-duration: 1.6s;
  --color-hover-secondary: var(--color);
  --color-hover: var(--color);
  --color: #FFED00;
  --concerts-playlist-border-bottom: 2px solid white;
  --concerts-playlist-border-top: 2px solid white;
  --concerts-playlist-color: var(--concerts-color);
  --concerts-playlist-item-content-width-mobile: var(--content-width-not-web-component-mobile);
  --concerts-playlist-item-h4-font-family: var(--h4-font-family);
  --concerts-playlist-item-padding: var(--padding);
  --concerts-playlist-margin-first-child: 30px 0 0 0;
  --concerts-playlist-margin: 30px 0 10% 0;
  --concerts-playlist-width: 100%;
  --concerts-ul-text-align: var(--h1-text-align);
  --content-spacing: 20px;
  --content-width-mobile: 100%;
  --content-width-not-web-component-mobile: 90%;
  --content-width-not-web-component: var(--content-width);
  --content-width: 65%;
  --flex-grow: 1;
  --font-family-bold: "Futura Now Text W05 XBlack", "OPTIFutura-ExtraBlackCond", "FuturaT", "Arial", sans-serif;
  --font-family-secondary: var(--font-family);
  --font-family: "Futura Now Text W05 Regular", "FuturaT", Arial, sans-serif;
  --font-size-mobile: min(19px, 7vw);
  --font-size: max(22px, 1vw);
  --font-weight: 300;
  --footer-a-display: inline;
  --footer-a-link-display-mobile: block;
  --footer-a-link-display: inline;
  --footer-a-link-font-size-mobile: 0.8rem;
  --footer-a-link-font-size: 0.73rem;
  --footer-align-content: flex-start;
  --footer-background-color: white;
  --footer-box-sizing: border-box;
  --footer-color-hover: #009fe3;
  --footer-color: #009fe3;
  --footer-content-width-mobile: 100%;
  --footer-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --footer-content-width-not-web-component: var(--content-width-not-web-component);
  --footer-content-width: 100%;
  --footer-engagement-logo-flex-flow: column-reverse;
  --footer-engagement-logo-margin: 10px;
  --footer-engagement-logo-max-height-mobile: 40px;
  --footer-engagement-logo-max-height: 40px;
  --footer-engagement-logo-text-a-color-hover: var(--footer-engagement-logo-text-a-color);
  --footer-engagement-logo-text-a-color: #f60;
  --footer-engagement-logo-text-color: black;
  --footer-engagement-logo-text-font-size-mobile: 0.4rem;
  --footer-engagement-logo-text-font-size: 0.4rem;
  --footer-engagement-logo-text-padding-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-mobile-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile: 10px 0 0 34%;
  --footer-engagement-logo-text-padding: 10px 0 0 32%;
  --footer-flex-wrap: wrap;
  --footer-font-size-mobile: var(--footer-a-link-font-size-mobile);
  --footer-font-size: var(--footer-a-link-font-size);
  --footer-justify-content: space-between;
  --footer-logo-align-items: flex-end;
  --footer-logo-container-flex-wrap-mobile: wrap;
  --footer-logo-container-justify-content-wrapped-mobile: var(--footer-logo-container-justify-content-wrapped);
  --footer-logo-container-justify-content-wrapped: center;
  --footer-logo-height-mobile: var(--footer-logo-height);
  --footer-logo-height: max(65px, 9vw);
  --footer-logo-margin: 10px;
  --footer-logo-max-height: max(100px, 5vw);
  --footer-min-height-mobile: 50px;
  --footer-min-height: 50px;
  --footer-padding-mobile: 15px;
  --footer-padding-mobile: 1vh 10%;
  --footer-padding: 20px;
  --footer-padding: 2vh 0;
  --footer-text-align: center;
  --footer-text-decoration-hover: underline;
  --footer-ul-margin: 0;
  --form-flex-direction: row;
  --h1-text-align: center;
  --h2-font-size-mobile: min(1.8rem, 10vw);
  --h2-font-size: 2.6rem;
  --h2-line-height-mobile: normal;
  --h2-line-height: 3rem;
  --h2-margin: 10px;
  --h2-text-align: var(--h1-text-align);
  --h2-text-transform: uppercase;
  --h2-word-break: break-word;
  --h3-font-size: 1.5rem;
  --h3-margin: 15px;
  --h3-text-align: var(--h1-text-align);
  --h3-text-transform: uppercase;
  --h4-font-family: var(--font-family-bold);
  --h4-font-size: 1.2rem;
  --h4-margin: 0;
  --h4-text-align: var(--h1-text-align);
  --h4-text-transform: uppercase;
  --h5-font-family: var(--font-family-bold);
  --h5-font-size: 1rem;
  --h5-margin-top-mobile: 20px;
  --h5-margin-top: 20px;
  --h5-margin: 0;
  --h5-text-align: var(--h1-text-align);
  --h5-text-transform: uppercase;
  --h6-text-align: var(--h1-text-align);
  --header-a-font-size-open: 0;
  --header-a-menu-icon-background-color: var(--color);
  --header-a-menu-icon-height-open-mobile: 0;
  --header-a-menu-icon-height: min(3px, 0.7vw);
  --header-a-menu-icon-margin-open-mobile: 0;
  --header-a-menu-icon-margin: 3vh 0 0;
  --header-a-menu-icon-spacing: min(9px, 1.5vw);
  --header-a-menu-icon-transition: 0.05s;
  --header-a-menu-icon-width: min(70px, 15vw);
  --header-a-transition: font-size 0.1s ease;
  --header-background-color-open: white;
  --header-background-color: var(--background-color);
  --header-color: var(--color);
  --header-content-spacing-mobile: var(--header-content-spacing);
  --header-content-spacing: 0;
  --header-content-width-mobile: var(--content-width-mobile);
  --header-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --header-content-width-not-web-component: var(--content-width-not-web-component-mobile);
  --header-content-width: var(--content-width-mobile);
  --header-flex-direction-mobile: column;
  --header-flex-direction: column;
  --header-height-mobile: auto;
  --header-height: auto;
  --header-intro-p-margin: 0;
  --header-intro-section-width-mobile: var(--content-width-not-web-component-mobile);
  --header-justify-content-mobile: end;
  --header-justify-content: end;
  --header-logo-height: 25vw;
  --header-logo-margin: 10px 0 0;
  --header-logo-max-height: max(100px, 5vw);
  --header-m-navigation-height-mobile: auto;
  --header-m-navigation-height-open-mobile: auto;
  --header-m-navigation-overflow-y-open-mobile: hidden;
  --header-m-navigation-position-mobile: static;
  --header-padding-mobile: 1vh 10%;
  --header-padding: 2vh 0;
  --header-position: static;
  --header-text-align: center;
  --header-title-color-nav-open: #009fe3;
  --header-title-color-secondary-nav-open: var(--header-title-color-nav-open);
  --header-title-color: var(--color);
  --header-title-font-family-bold: var(--font-family-bold);
  --header-title-font-size-mobile: min(9vw, 30px);
  --header-title-font-size: max(50px, 4vw);
  --header-title-line-height-mobile: min(10vw, 30px);
  --header-title-line-height: max(55px, 3vw);
  --header-title-margin: 0 auto 30px auto;
  --header-title-secondary-color-font-family: var(--font-family);
  --header-title-secondary-color-font-size-mobile: min(8vw, 20px);
  --header-title-secondary-color-font-size: max(30px, 3vw);
  --header-title-secondary-color-text-transform: lowercase;
  --header-title-secondary-font-weight: normal;
  --header-title-transition: color 0.15s ease;
  --header-transition: background-color 0.3s ease;
  --highlight-list-border-bottom: none;
  --highlight-list-border-top: none;
  --highlight-list-content-spacing: 40px 0;
  --highlight-list-content-width-mobile: 100%;
  --highlight-list-content-width: 80%;
  --highlight-list-flex-direction: column;
  --hr-color: transparent;
  --icon-display: block;
  --icon-margin: 15px auto 0 auto;
  --icon-width-mobile: 45px;
  --icon-width: 45px;
  --icon-height-mobile: 45px;
  --icon-height: 45px;
  --li-align-self: center;
  --li-margin: 0 12px;
  --line-height-mobile: 1.4rem;
  --margin: 0;
  --module-wrapper-margin-mobile: 20% 0 0 0;
  --module-wrapper-margin: 15% 0 0 0;
  --navigation-a-link-color-nav-open: #009fe3;
  --navigation-a-link-content-spacing-nav-open: 0;
  --navigation-a-link-content-spacing: 0;
  --navigation-a-link-font-family: var(--font-family-bold);
  --navigation-a-link-font-size-nav-open: min(40px, 7vw);
  --navigation-a-link-font-size: 0;
  --navigation-a-link-line-height-nav-open: 1.35em;
  --navigation-a-link-line-height: normal;
  --navigation-a-link-second-level-font-size-nav-open: var(--navigation-a-link-font-size-nav-open);
  --navigation-a-link-second-level-font-size: 0;
  --navigation-a-link-second-level-font-weight-nav-open: normal;
  --navigation-a-link-second-level-line-height-nav-open: var(--navigation-a-link-line-height-nav-open);
  --navigation-a-link-text-transform: uppercase;
  --navigation-background-color-nav-open: white;
  --navigation-background-color: var(--header-background-color);
  --navigation-border-top: 0;
  --navigation-color-hover: #FFED00;
  --navigation-color: #009fe3;
  --navigation-content-spacing: 0;
  --navigation-flex-direction: column;
  --navigation-font-weight: 700;
  --navigation-hr-color: transparent;
  --navigation-li-ul-display: block;
  --navigation-li-ul-margin-nav-open: 0 0 4vh;
  --navigation-li-ul-position: static;
  --navigation-li-ul-width: 100%;
  --navigation-padding-top: 0;
  --navigation-padding: 0;
  --navigation-text-align: center;
  --navigation-transition: font-size 0.1s linear, padding 0.1s linear, margin 0.1s linear, background-color 0.3s ease;
  --newsletter-background-color: var(--background-color);
  --newsletter-border-bottom: 1px solid rgb(230, 230, 230);
  --newsletter-border-bottom: 2px solid var(--color);
  --newsletter-border-left: 2px solid var(--color);
  --newsletter-border-right: 2px solid var(--color);
  --newsletter-border-top: 2px solid var(--color);
  --newsletter-button-font-family: var(--font-family-bold);
  --newsletter-button-font-size: 1rem;
  --newsletter-button-height: 100%;
  --newsletter-button-text-transform: uppercase;
  --newsletter-button-width: 100%;
  --newsletter-color: var(--color);
  --newsletter-color: var(--color);
  --newsletter-flex-grow: 1;
  --newsletter-font-family-bold: var(--font-family-bold);
  --newsletter-font-family-bold: var(--font-family-bold);
  --newsletter-font-family: var(--font-family);
  --newsletter-form-flex-direction: column;
  --newsletter-height: 55px;
  --newsletter-margin: 0 auto;
  --newsletter-width: 100%;
  --orchestra-a-text-decoration: underline;
  --orchestra-p-margin: 20px;
  --orchestra-p-text-transform: uppercase;
  --p-date-text-transform: uppercase;
  --p-line-height: var(--font-size);
  --p-margin: 0;
  --p-text-align: center;
  --padding: 15px 0;
  --picture-display: block;
  --picture-margin: 10px auto 0 auto;
  --picture-width: 40%;
  --playlist-border-bottom: 2px solid white;
  --playlist-border-top: 2px solid white; 
  --playlist-item-a-color-hover: var(--color);
  --playlist-item-a-color: var(--color);
  --playlist-item-content-width-mobile: var(--content-width-not-web-component-mobile);
  --playlist-item-h4-font-family: var(--h4-font-family);
  --playlist-item-padding: var(--padding);
  --playlist-margin-first-child: 30px 0 0 0;
  --playlist-margin: 30px 0 10% 0;
  --playlist-width: 100%;
  --search-icon-display: block;
  --search-icon-margin: 0;
  --search-icon-width-mobile: 35px;
  --search-icon-width: 50px;
  --section-width-mobile: var(--content-width-not-web-component-mobile);
  --spacer-height-mobile: 20vw;
  --spacer-height: 10vw;
  --tickets-a-display: inline;
  --tickets-a-text-decoration: underline;
  --ul-display: flex;
  --ul-text-align: var(--h1-text-align);
  --video-margin: 70px auto 0 auto;
  --video-width: var(--picture-width);
}
