/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --background-color-secondary: #c2262f;
  --background-color: white;
  --color-hover: var(--background-color);
  --color-secondary: var(--background-color);
  --color: #646464;
  --content-spacing: 0;
  --content-width: 1170px;
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --footer-a-link-font-size-2: 14px;
  --footer-a-link-font-size: 19px;
  --footer-background-color: var(--background-color-secondary);
  --footer-bottom-background-color: #941619;
  --footer-color: var(--background-color);
  --footer-content-spacing: 0;
  --footer-content-width-mobile: var(--footer-content-width);
  --footer-content-width: 100%;
  --footer-engagement-logo-text-color: var(--background-color);
  --footer-font-weight: 300;
  --footer-letter-spacing: 0.5px;
  --footer-line-height: 20px;
  --footer-logo-height-first: 60px;
  --footer-logo-width: 120px;
  --footer-text-decoration-hover: underline;
  --footer-width-mobile: 750px;
  --footer-width: 984px;
  --h1-font-size: 200%;
  --h1-line-height: 40px;
  --h2-font-size: var(--h1-font-size);
  --h2-line-height: var(--h1-line-height);
  --header-accent-background: #e30513 url(../../../img/header-balken.png) no-repeat;
  --header-accent-height: 20px;
  --header-accent-height: 20px;
  --header-accent-position: absolute;
  --header-accent-width: 100%;
  --header-accent-width: 100%;
  --header-alogo-margin-bottom: 0;
  --header-alogo-margin: 15px;
  --header-alogo-width: 160px;
  --header-background-color: rgba(255, 255, 255, 0.85);
  --header-display: grid;
  --header-grid-template-columns: 20% 80%;
  --header-grid-template-rows: 28px 95xp 20px;
  --header-height: 135px;
  --header-logo-height: 65px;
  --header-logo-width: 130px;
  --header-padding-left: 0px;
  --header-topNav-color: var(--color);
  --header-topNav-display: flex;
  --header-topNav-height: 28px;
  --header-topNav-language-padding: 0px 13px 2px;
  --header-topNav-lastChild-padding-right: 15px;
  --header-topNav-lastChild-width: auto;
  --header-topNav-ul-li-padding: 10px;
  --header-width: 100%;
  --html-background-color: var(--background-color);
  --navigation-a-link-color-nav-open: var(--color);
  --navigation-background-color: var(--background-color);
  --navigation-color-hover: black;
  --navigation-color-open: #b70e0c;
  --navigation-color: var(--color);
  --navigation-li-ul-margin-nav-open: 0 0 3vh;
  --navigation-height: 80px;
  --navigation-first-padding: 0 0 20px 30px;
  --navigation-float: right;
  --p-font-size: 95%;
  --p-font-weight: 300;
  --p-line-height: 175%;
}
