/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --background-color-secondary: #c2262f;
  --background-color: white;
  --color-hover: var(--background-color);
  --color-secondary: var(--background-color);
  --color: #646464;
  --content-spacing: 0;
  --content-width: 1170px;
  --font-family:"Roboto",sans-serif;
  --font-size: 16px;
  --footer-a-link-font-size-2: 14px;
  --footer-a-link-font-size: 19px;
  --footer-background-color: var(--background-color-secondary);
  --footer-bottom-background-color: #941619;
  --footer-color: var(--background-color);
  --footer-content-spacing: 0;
  --footer-content-width: 100%;
  --footer-text-decoration-hover: underline;
  --footer-line-height: 20px;
  --footer-logo-width: 120px;
  --footer-font-weight: 300;
  --footer-logo-height-first: 60px;
  --footer-letter-spacing: 0.5px;
  --footer-engagement-logo-text-color:var(--background-color);
  --footer-width: 984px;
  --footer-width-mobile: 750px;
  --h1-font-size: 200%;
  --h1-line-height: 40px;
  --h2-font-size: var(--h1-font-size);
  --h2-line-height: var(--h1-line-height);
  --header-background-color-open:var(--background-color);
  --header-background-color:var(--background-color);
  --html-background-color: var(--background-color);
  --navigation-a-link-color-nav-open:var(--color);
  --navigation-background-color:var(--background-color);
  --p-font-size: 95%;
  --p-font-weight: 300;
  --p-line-height: 175%;
}
