/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --background-color: black;
  --club-concert-logo-height: var(--header-logo-height);
  --club-concert-logo-margin: var(--header-logo-margin);
  --club-concert-logo-max-height: var(--header-logo-max-height);
  --color-hover-secondary: var(--color);
  --color-hover: var(--color-secondary);
  --color-secondary: #ffff00;
  --color: white;
  --content-spacing: 20px;
  --content-width-mobile: 100%;
  --content-width: 80%;
  --font-family-bold: "Futura Now Text W05 XBlack", "OPTIFutura-ExtraBlackCond", "FuturaT", "Arial", sans-serif;
  --font-family-secondary: var(--font-family);
  --font-family: "Futura Now Text W05 Regular", "FuturaT", Arial, sans-serif;
  --font-size-mobile: 13px;
  --font-size: 20px;
  --font-weight: 300;
  --footer-a-link-font-size: 1.1rem;
  --footer-background-color: var(--header-background-color); 
  --footer-color-hover: var(--navigation-color-hover);
  --footer-color: var(--color-secondary);
  --footer-content-width: var(--content-width);
  --footer-margin: 5vh auto 0 auto;
  --footer-min-height : 250px;
  --footer-min-height-mobile: 150px;
  --h2-font-size: 3.5rem;
  --h2-text-transform: uppercase;
  --header-background-color: var(--background-color); 
  --header-color: var(--color);
  --header-content-spacing: var(--content-spacing);
  --header-flex-direction : column;
  --header-flex-direction-mobile: column;
  --header-height : auto;
  --header-height-mobile: auto;
  --header-justify-content : end;
  --header-justify-content-mobile: end;
  --header-logo-height: 25vw;
  --header-logo-margin: 10px 0 0;
  --header-logo-max-height: 100px;
  --header-position: static;
  --header-text-align: center;
  --highlight-list-border-bottom: none;
  --highlight-list-border-top: none;
  --highlight-list-content-spacing: 40px 0;
  --highlight-list-content-width-mobile: 100%;
  --highlight-list-flex-direction: column;
  --hr-color: transparent;
  --img-max-width: 65%;
  --kulturprozent-logo-height-mobile: 50px;
  --kulturprozent-logo-height: max(60px, 6vw);
  --kulturprozent-logo-margin: var(--header-logo-margin);
  --kulturprozent-logo-max-height: var(--header-logo-max-height);
  --margin: 0;
  --navigation-background-color: var(--header-background-color); 
  --navigation-color-hover: white;
  --navigation-color: var(--color-secondary);
  --navigation-content-spacing: var(--content-spacing);
  --navigation-hr-color: var(--navigation-color);
  --p-font-size: 1.2rem;
  --picture-filter: grayscale(100%);
  --picture-img-width: 100%;
  --picture-margin: 30px auto;
  --picture-transition: filter 0.8s ease;
  --picture-width-mobile: 100%;
  --picture-width: 60%;
  --section-font-size: var(--p-font-size);
  --stage-arrow-color: var(--color-secondary);
}
