html {
  --content-margin: 40px;
  --content-width: 80vw;
  --font-color-footer-active: #cccccc;
  --font-color-hover: #8d4674;
  --font-color: black;
  --font-color-secondary: #777;
  --font-family: "Circular", Helvetica, Arial, sans-serif;
  --font-family-secondary: "Cardo", "Times New Roman", Times, serif;
  --font-weight: 300;
  --footer-min-height-desktop: 250px;
  --footer-min-height-mobile: 150px;
  --header-background-color: #222; 
  --header-content-margin: var(--content-margin);
  --header-font-color: var(--font-color-secondary);
  --header-height-desktop: 85px;
  --header-height-mobile: 50px;
  --hr-color: #e6e6e6;
  --navigation-background-color: var(--header-background-color); 
  --navigation-content-margin: var(--content-margin);
  --navigation-font-color: var(--font-color-secondary);
  --navigation-font-color-hover: white;
  --stage-arrow-font-color: var(--font-color-secondary);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 10px;
}
/* sticky footer */
body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
/* navigation open */
body.no-scroll {
  overflow: hidden;
}