/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover-desktop
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --a-font-size: 1.3rem;
  --background-color: black;
  --color-hover: var(--color-secondary);
  --color-secondary: #ffff00;
  --color: white;
  --content-spacing: 20px;
  --content-width: 80vw;
  --filter: grayscale(100%);
  --font-family-bold: "OPTIFutura-ExtraBlackCond", "FuturaT", "Arial", sans-serif;
  --font-family-secondary: var(--font-family);
  --font-family: "FuturaT", Arial, sans-serif;
  --font-size-mobile: 11px;
  --font-size: 20px;
  --font-weight: 300;
  --footer-background-color: var(--header-background-color); 
  --footer-color-hover: var(--navigation-color-hover);
  --footer-color: var(--color-secondary);
  --footer-min-height-desktop: 250px;
  --footer-min-height-mobile: 150px;
  --h2-font-size: 3.5rem;
  --h2-text-transform: uppercase;
  --header-background-color: var(--background-color); 
  --header-color: var(--color);
  --header-content-spacing: var(--content-spacing);
  --header-flex-direction-desktop: column;
  --header-flex-direction-mobile: column;
  --header-height-desktop: auto;
  --header-height-mobile: auto;
  --header-justify-content-desktop: end;
  --header-justify-content-mobile: end;
  --header-logo-height: 25vw;
  --header-logo-margin: 10px 0 0;
  --header-logo-max-height: 100px;
  --header-position: static;
  --header-text-align: center;
  --highlight-list-border-bottom: none;
  --highlight-list-border-top: none;
  --highlight-list-flex-direction: column;
  --hr-color: transparent;
  --img-max-width: 65vw;
  --navigation-background-color: var(--header-background-color); 
  --navigation-color-hover: white;
  --navigation-color: var(--color-secondary);
  --navigation-content-spacing: var(--content-spacing);
  --navigation-hr-color: var(--navigation-color);
  --p-font-sizeGiuliaDabala: 1.4rem;
  --stage-arrow-color: var(--color-secondary);
  --transition: filter 0.8s ease;
}
