/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --a-display: block;
  --a-margin: 0 auto;
  --a-text-align: center;
  --a-text-decoration: underline;
  --a-text-underline-offset: 0.2em;
  --background-color: #009fe3;
  --carousel-pagination-background-color-selected: white;
  --carousel-pagination-background-color: var(--color);
  --carousel-pagination-bottom: 10px;
  --carousel-pagination-position: absolute;
  --carousel-pagination-width: 10px;
  --carousel-transition-duration: 1.6s;
  --color-hover-secondary: var(--color);
  --color-hover: var(--color);
  --color: #FFED00;
  --concerts-a-display: var(--a-display);
  --concerts-a-margin: var(--a-margin);
  --concerts-a-text-align: var(--a-text-align);
  --concerts-a-text-decoration: var(--a-text-decoration);
  --concerts-a-text-underline-offset: var(--a-text-underline-offset);
  --concerts-background-color: var(--color-secondary);
  --concerts-color-secondary: var(--background-color);
  --concerts-color: var(--background-color);
  --concerts-content-spacing: var(--content-spacing);
  --concerts-content-width-mobile: var(--content-width-mobile);
  --concerts-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --concerts-content-width-not-web-component: var(--content-width);
  --concerts-content-width: var(--content-width);
  --concerts-font-family-secondary: var(--font-family);
  --concerts-h2-font-size-mobile: min(2.5rem, 12vw);
  --concerts-h2-font-size: 3rem;
  --concerts-h2-line-height-mobile: var(--h2-line-height);
  --concerts-h2-margin: 0 auto;
  --concerts-h2-text-align: var(--h1-text-align);
  --concerts-h2-text-transform: uppercase;
  --concerts-h3-font-size: 1rem;
  --concerts-h3-margin: 15px;
  --concerts-h3-text-align: var(--h1-text-align);
  --concerts-h3-text-transform: uppercase;
  --concerts-h4-text-align: var(--h1-text-align);
  --concerts-h5-text-align: var(--h1-text-align);
  --concerts-h6-text-align: var(--h1-text-align);
  --concerts-header-background-color: var(--concerts-background-color);
  --concerts-header-color: var(--concerts-color);
  --concerts-header-content-spacing-mobile: 20px;
  --concerts-header-content-spacing: var(--content-spacing);
  --concerts-header-content-width-mobile: var(--content-width-mobile);
  --concerts-header-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --concerts-header-content-width-not-web-component: var(--content-width-not-web-component);
  --concerts-header-content-width: var(--content-width);
  --concerts-header-flex-direction : column;
  --concerts-header-flex-direction-mobile: column;
  --concerts-header-height : auto;
  --concerts-header-height-mobile: auto;
  --concerts-header-intro-p-margin: 0;
  --concerts-header-intro-section-width-mobile: var(--content-width-not-web-component-mobile);
  --concerts-header-justify-content-mobile: end;
  --concerts-header-justify-content: end;
  --concerts-header-logo-height: 25vw;
  --concerts-header-logo-margin: 10px 0 0;
  --concerts-header-logo-max-height: max(100px, 5vw);
  --concerts-header-padding: 0;
  --concerts-header-position: static;
  --concerts-header-text-align: center;
  --concerts-header-title-color-secondary: var(--concerts-color-secondary);
  --concerts-header-title-font-family-bold: var(--font-family-bold);
  --concerts-header-title-font-size-mobile: min(13vw, 49px);
  --concerts-header-title-margin: 0 auto 30px auto;
  --concerts-p-date-text-transform: uppercase;
  --concerts-p-line-height: var(--font-size);
  --concerts-p-margin: 0 auto;
  --concerts-p-text-align: center;
  --concerts-playlist-border-bottom: 2px solid white;
  --concerts-playlist-border-top: 2px solid white;
  --concerts-playlist-color: var(--concerts-color);
  --concerts-playlist-item-content-width-mobile: var(--content-width-not-web-component-mobile);
  --concerts-playlist-item-h4-font-family: var(--font-family-bold);
  --concerts-playlist-item-padding: var(--padding);
  --concerts-playlist-margin-first-child: 30px 0 0 0;
  --concerts-playlist-margin: 30px 0 10% 0;
  --concerts-playlist-width: 100%;
  --concerts-ul-text-align: var(--h1-text-align);
  --color-hover: var(--color);
  --color: #FFED00;
  --content-spacing: 20px;
  --content-width-mobile: 100%;
  --content-width-not-web-component-mobile: 90%;
  --content-width-not-web-component: var(--content-width);
  --content-width: 65%;
  --font-family-bold: "Futura Now Text W05 XBlack", "OPTIFutura-ExtraBlackCond", "FuturaT", "Arial", sans-serif;
  --font-family-secondary: var(--font-family);
  --font-family: "Futura Now Text W05 Regular", "FuturaT", Arial, sans-serif;
  --font-size-mobile: min(19px, 7vw);
  --font-size: max(22px, 1vw);
  --font-weight: 300;
  --footer-a-display: inline;
  --footer-a-link-font-size-mobile: 0.8rem;
  --footer-a-link-font-size: 0.73rem;
  --footer-align-content: flex-start;
  --footer-background-color: white;
  --footer-box-sizing: border-box;
  --footer-color-hover: var(--background-color);
  --footer-color: var(--background-color);
  --footer-content-width-mobile: 100%;
  --footer-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --footer-content-width-not-web-component: var(--content-width-not-web-component);
  --footer-content-width: 100%;
  --footer-engagement-logo-flex-flow: column-reverse;
  --footer-engagement-logo-margin: 10px;
  --footer-engagement-logo-max-height-mobile: 40px;
  --footer-engagement-logo-max-height: 40px;
  --footer-engagement-logo-text-a-color: #f60;
  --footer-engagement-logo-text-color: black;
  --footer-engagement-logo-text-font-size-mobile: 0.4rem;
  --footer-engagement-logo-text-font-size: 0.4rem;
  --footer-engagement-logo-text-padding-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-mobile-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile: 10px 0 0 34%;
  --footer-engagement-logo-text-padding: 10px 0 0 32%;
  --footer-flex-wrap: wrap;
  --footer-font-size-mobile: var(--footer-a-link-font-size-mobile);
  --footer-font-size: var(--footer-a-link-font-size);
  --footer-justify-content: space-around;
  --footer-logo-align-items: flex-start;
  --footer-logo-container-flex-wrap-mobile: wrap;
  --footer-logo-container-justify-content-wrapped-mobile: var(--footer-logo-container-justify-content-wrapped);
  --footer-logo-container-justify-content-wrapped: center;
  --footer-logo-height: max(65px, 9vw);
  --footer-logo-margin: 10px;
  --footer-logo-max-height: max(100px, 5vw);
  --footer-min-height-mobile: 50px;
  --footer-min-height: 50px;
  --footer-padding-mobile: 15px 10%;
  --footer-padding: 20px 0;
  --footer-text-align: center;
  --footer-text-decoration-hover: underline;
  --footer-ul-margin: 0;
  --h1-text-align: center;
  --h2-font-size-mobile: min(2.5rem, 12vw);
  --h2-font-size: 3rem;
  --h2-line-height-mobile: var(--h2-line-height);
  --h2-line-height: normal;
  --h2-margin: 0 auto;
  --h2-text-align: var(--h1-text-align);
  --h2-text-transform: uppercase;
  --h3-font-size: 1rem;
  --h3-margin: 15px;
  --h3-text-align: var(--h1-text-align);
  --h3-text-transform: uppercase;
  --h4-text-align: var(--h1-text-align);
  --h5-text-align: var(--h1-text-align);
  --h6-text-align: var(--h1-text-align);
  --header-background-color: white;
  --header-a-menu-icon-display-open-mobile: none;
  --header-a-menu-icon-background-color: var(--background-color);
  --header-background-color: white;
  --header-color: var(--color);
  --header-content-spacing-mobile: var(--header-content-spacing);
  --header-content-spacing: 0;
  --header-content-width-mobile: var(--content-width-mobile);
  --header-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --header-content-width-not-web-component: var(--content-width-not-web-component-mobile);
  --header-content-width: var(--content-width-mobile);
  --header-flex-direction: column;
  --header-flex-direction-mobile: column;
  --header-height: auto;
  --header-height-mobile: auto;
  --header-intro-p-margin: 0;
  --header-intro-section-width-mobile: var(--content-width-not-web-component-mobile);
  --header-justify-content-mobile: end;
  --header-justify-content: end;
  --header-logo-height: 25vw;
  --header-logo-margin: 10px 0 0;
  --header-logo-max-height: max(100px, 5vw);
  --header-m-navigation-height-mobile: auto;
  --header-m-navigation-height-open-mobile: auto;
  --header-m-navigation-overflow-y-open-mobile: hidden;
  --header-m-navigation-position-mobile: static;
  --header-padding: 0;
  --header-position: static;
  --header-text-align: center;
  --header-title-color: var(--background-color);
  --header-title-font-family-bold: var(--font-family-bold);
  --header-title-font-size-mobile: min(13vw, 49px);
  --header-title-margin: 0 auto 30px auto;
  --highlight-list-border-bottom: none;
  --highlight-list-border-top: none;
  --highlight-list-content-spacing: 40px 0;
  --highlight-list-content-width-mobile: 100%;
  --highlight-list-content-width: 80%;
  --highlight-list-flex-direction: column;
  --hr-color: transparent;
  --li-margin: 0 12px;
  --line-height-mobile: 1.4rem;
  --margin: 0;
  --module-wrapper-margin-mobile: 20% 0 0 0;
  --module-wrapper-margin: 15% 0 0 0;
  --navigation-a-link-content-spacing-nav-open: 0;
  --navigation-a-link-content-spacing: 0;
  --navigation-a-link-font-size-nav-open: 1rem;
  --navigation-a-link-font-size: 0;
  --navigation-a-link-second-level-font-size-nav-open: 1rem;
  --navigation-a-link-second-level-font-size: 0;
  --navigation-a-link-second-level-font-weight-nav-open: normal;
  --navigation-background-color: var(--header-background-color);
  --navigation-color-hover: var(--background-color);
  --navigation-color: var(--background-color);
  --navigation-content-spacing: 0;
  --navigation-flex-direction: column;
  --navigation-font-weight: 700;
  --navigation-hr-color: transparent;
  --navigation-li-ul-display: block;
  --navigation-li-ul-position: static;
  --navigation-li-ul-width: 100%;
  --navigation-padding-top: 0;
  --navigation-padding: 0;
  --navigation-text-align: center;
  --navigation-transition: font-size 0.15s linear, padding 0.15s linear;
  --p-date-text-transform: uppercase;
  --p-line-height: var(--font-size);
  --p-margin: 0 auto;
  --p-text-align: center;
  --padding: 15px 0;
  --picture-display: block;
  --picture-margin: 10px auto 0 auto;
  --picture-width: 40%;
  --playlist-border-bottom: 2px solid white;
  --playlist-border-top: 2px solid white; 
  --playlist-item-content-width-mobile: var(--content-width-not-web-component-mobile);
  --playlist-item-h4-font-family: var(--font-family-bold);
  --playlist-item-padding: var(--padding);
  --playlist-margin-first-child: 30px 0 0 0;
  --playlist-margin: 30px 0 10% 0;
  --playlist-width: 100%;
  --section-width-mobile: var(--content-width-not-web-component-mobile);
  --a-text-decoration: underline;
  --a-text-underline-offset: 0.2em;
  --ul-text-align: var(--h1-text-align);
  --video-margin: 70px auto 0 auto;
  --video-width: var(--picture-width);
}
