<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>Navigation Classics</title>
</head>
<body>
  <p-general>
    <o-header mobile-breakpoint="100vw" no-scroll="nav-open" menu-icon="true" namespace="header-" role="header">
      <a-title namespace="header-title-" no-scroll="nav-open">Migros-Kulturprozent-Classics präsentiert</a-title>
      <m-navigation mobile-breakpoint="0vw" hover="false" namespace=navigation- no-scroll="nav-open">
        <ul>
          <li>
            <a href="#">News</a>
            <ul>
              <li>
                <a target="_blank" href="/de/highlight">Highlights</a>
              </li>
              <li>
                <a href="/de/aktuell">Aktuell</a>
              </li>
              <li>
                <a href="/de/Programm">Programm</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Konzerte</a>
            <ul>
              <li>
                <a href="/de/spielplan">Spielplan</a>
              </li>
              <li>
                <a href="/de/Orchester">Orchester</a>
              </li>
              <li>
                <a href="/de/dirigent">Dirigent*innen</a>
              </li>
              <li>
                <a href="/de/solist">Solist*innen</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Tickets</a>
            <ul>
              <li>
                <a href="/de/bern">Bern</a>
              </li>
              <li>
                <a href="/de/Luzern">Luzern</a>
              </li>
              <li>
                <a href="/de/Genf">Genf</a>
              </li>
              <li>
                <a href="/de/Zurich">Zürich</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Backstage</a>
            <ul>
              <li>
                <a href="/de/werk">Werkeinführung</a>
              </li>
              <li>
                <a href="/de/archiv">Archiv</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">About</a>
            <ul>
              <li>
                <a href="/de/idee">Idee</a>
              </li>
              <li>
                <a href="/de/intendanz">Intendanz</a>
              </li>
              <li>
                <a href="/de/Talentförderung">Talentförderung</a>
              </li>
              <li>
                <a href="/de/Kontakt">Kontakt</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/de/search" style="transform: rotate(112deg);">&#9740;</a>
          </li>
        </ul>
      </m-navigation>
      <a href="/de/home">Home</a>
    </o-header>
    <o-body>
      <main role="main">
        <m-flyer
          direction=left
          timer=1000
          namespace="flyer-"
          position="false"
        >
          <style>
            :host {
              --flyer-transform: translateX(-20px);
              --flyer-position: static;
              --picture-margin: 0;
            }
            :host > div > div {
              transform: translate(min(104px, 11vw), -9vw) rotate(-14deg)
            }
            :host > div > div h3, :host > div > div p {
              font-size: max(19px, 1vw);
            }
            :host > div > div h3 {
              font-family: var(--font-family-bold);
              margin: 0;
            }
            :host > div > div p {
              margin: 0;
            }
          </style>
          <a-picture namespace=picture- defaultSource="../../../img/vildeFrang.png" alt="vildeFrang"></a-picture>
          <div>
            <h3>Vilde Frang</h3>
            <p>Einziges Konzert in der Schweiz:<br>Tonhalle Maag Zurich</p>
          </div>
        </m-flyer>
        <div>
          <m-details>
            <details>
              <summary><h3>System Requirements</h3></summary>
              <p>Requires a computer running an operating system. The computer
              must have some memory and ideally some kind of long-term storage.
              An input device as well as some form of output device is
              recommended.<span class="close">Schliessen</span></p>
            </details>
          </m-details>
          <m-details>
            <details>
              <summary><h3>System Requirements</h3></summary>
              <p>Requires a computer running an operating system. The computer
              must have some memory and ideally some kind of long-term storage.
              An input device as well as some form of output device is
              recommended.</p>
              <a-picture namespace=picture- defaultSource="../../../img/vildeFrang.png" alt="vildeFrang"></a-picture>
              <span class="close">Schliessen</span>
            </details>
          </m-details>
          <m-details>
            <details>
              <summary><h3>System Requirements</h3></summary>
              <p>Requires a computer running an operating system. The computer
              must have some memory and ideally some kind of long-term storage.
              An input device as well as some form of output device is
              recommended.<span class="close">Schliessen</span></p>
            </details>
          </m-details>
        </div>
        <third-party-macro-carousel pagination loop interval="5000" namespace="carousel-">
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
        </third-party-macro-carousel>
        <h3>Daniel Müller-Schott</h3>
        <div>
          <m-details>
            <details>
              <summary><h3>System Requirements</h3></summary>
              <p>Requires a computer running an operating system. The computer
              must have some memory and ideally some kind of long-term storage.
              An input device as well as some form of output device is
              recommended.<span class="close">Schliessen</span></p>
            </details>
          </m-details>
        </div>
        <p>Der Münchner Cellist Daniel Müller-Schott wurde als Gewinner des Ersten Preises beim Tschaikowsky-Wettbewerb in Moskau 1992 bekannt und durfte als Preisträger der <br>Anne-Sophie-Mutter-Stiftung unter anderem ein Jahr lang mit Mtislav Rostropowitsch studieren.</p>
        <!-- @ask using a-link throws error in shadow.js:202 -->
        <!-- should i add the same styles from body.js to link.js? link.js uses different variables/values -->
        <a href="#">Mehr erfahren</a>

        <div class="spacer"></div>

        <h2>Aktuell</h2>
        <a-picture namespace="picture-" defaultSource="../../../img/Classics_Joana-Mallwitz.png" alt="Joana Mallwitz" loading="lazy"></a-picture>
        <h3>Joanna Mallwitz im Gespräch</h3>
        <p>Sie ist die erste Dirigentin, die bei den Salzburger Festspielen eine Oper dirigiert: Joana Mallwitz, 34 Jahre alt, Leidenschaftliche Mozart-Liebhaberin.</p>
        <a href="#">Zum Gespräch</a>

        <div class="spacer"></div>

        <a-video namespace="video-">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </a-video>
        <h3>Happy Birthday, Mr. Britten</h3>
        <p>(Aktuell B) Wunderkind, Pazifist, Exilant: Der erfolgreichste englische Komponist des 20. Jahrhunderts bietet gleich eine Vielzahl von Facetten.</p>
        <a href="#">Video ARTE</a>

        <a-video namespace="video-">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </a-video>
        <h3>Teodor Currentzis Backstage</h3>
        <p>(Aktuell C) «Es ist mein Job zu träumen», sagt Teodor Currentzis. Überraschend offene Einsichten in seine Innenwelt gewährt uns der Chefdirigent des SWR Symphonieorchesters im Backstage Talk.</p>
        <a href="#">Backstage Talk 3:36 min</a>

        <div class="spacer"></div>
        <o-intersection-scroll-effect css-property=transform effect=translateX max-value=-40vw>
          <style>
            :host {
              margin: 0 !important;
              --picture-margin: 0;
            }
            :host > div > div {
              transform: translate(min(104px, 11vw), -9vw) rotate(-14deg)
            }
            :host > div > div h3, :host > div > div p {
              font-size: max(19px, 1vw);
            }
            :host > div > div h3 {
              font-family: var(--font-family-bold);
              margin: 0;
            }
            :host > div > div p {
              margin: 0;
            }
          </style>
          <div>
            <a-picture namespace=picture- defaultSource="../../../img/vildeFrang.png" alt="vildeFrang"></a-picture>
            <div>
              <h3>Vilde Frang</h3>
              <p>Einziges Konzert in der Schweiz:<br>Tonhalle Maag Zurich</p>
            </div>
          </div>
        </o-intersection-scroll-effect>
        <div class="spacer"></div>

        <h2>Programm</h2>
        <p>Die Saison- und Abendprogramme von Migros-Kulturprozent-Classics der letzten Jahre stehen hier für den Download bereit</p>
        <o-playlist namespace="playlist-" border-top-first-child="true">
          <m-playlist-item>
            <p>2020*21</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li>Bern</li>
              <li>Genf</li>
              <li>Luzern</li>
              <li>Zürich</li>
            </ul>
          </m-playlist-item>
          <m-playlist-item>
            <p>2019*20</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li>Bern</li>
              <li>Genf</li>
              <li>Luzern</li>
              <li>Zürich</li>
            </ul>
          </m-playlist-item>
          <m-playlist-item>
            <p>2018*19</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li>Bern</li>
              <li>Genf</li>
              <li>Luzern</li>
              <li>Zürich</li>
            </ul>
          </m-playlist-item>
          <m-playlist-item>
            <p>2017*18</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li>Bern</li>
              <li>Genf</li>
              <li>Luzern</li>
              <li>Zürich</li>
            </ul>
          </m-playlist-item>
        </o-playlist>
      </main>
    </o-body>
    <o-footer theme="classics" namespace="footer-">
      <a-logo class="hide-mobile" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
        <p>
            Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
            <br />
            <strong>
                <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
            </strong>
        </p>
    </a-logo>
  <ul>
    <li><p><a href="#">CLASSICS-Newsletter bestellen</a></p></li>
    <li><p><a href="#">Programm Archiv</a></p></li>
    <li>
      <p>
        <a-link namespace="footer-">
          <a href="#">DE</a>
        </a-link>
        <a-link namespace="footer-">
          <a href="#">FR</a>
        </a-link>
        <a-link namespace="footer-">
          <a href="#">EN</a>
        </a-link>
      </p>
    </li>
    <br>
    <li>
      <p>
        <a-link namespace="footer-">
          <a href="#">Impressum</a>
          <span>, </span>
        </a-link>
        <a-link namespace="footer-">
          <a href="#">Datenschutz</a>
          <span>, </span>
        </a-link>
        <a-link namespace="footer-">
          <a href="#">Rechtliche Hinweise</a>
          <span>, </span>
        </a-link>
        <a-link namespace="footer-">
          <a href="#">Kontakt</a>
        </a-link>
      </p>
    </li>
  </ul>
  <div class="logo-container">
    <a-logo class="hide-desktop" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
      <p>
          Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
          <br />
          <strong>
              <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
          </strong>
      </p>
    </a-logo>
    <a-logo src=../../../img/ClubConcertLogo_cyan.svg alt="Kulturprozent Classics Logo" href="#" namespace="footer-logo-"></a-logo>
  </div>
</o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }

    /**
    * First level controllers and organisms are loaded and defined here (loadChildComponents)
    */
    Promise.all([
    // Controllers
    import('../../../es/components/prototypes/Shadow.js').then(module => null), // preload the dependency
    import('../../../es/components/pages/General.js').then(module => ['p-general', module.default]),
    import('../../../es/components/thirdParty/MacroCarousel.js').then(module => ['third-party-macro-carousel', module.default]),
    import('../../../es/components/organisms/Body.js').then(module => ['o-body', module.default]),
    import('../../../es/components/organisms/HighlightList.js').then(module => ['o-highlight-list', module.default]),
    import('../../../es/components/organisms/Header.js').then(module => ['o-header', module.default]),
    import('../../../es/components/molecules/Navigation.js').then(module => ['m-navigation', module.default]),
    import('../../../es/components/organisms/Playlist.js').then(module => ['o-playlist', module.default]),
    import('../../../es/components/organisms/Footer.js').then(module => ['o-footer', module.default]),
    import('../../../es/components/molecules/Navigation.js').then(module => ['m-navigation', module.default]),
    import('../../../es/components/molecules/Highlight.js').then(module => ['m-highlight', module.default]),
    import('../../../es/components/molecules/PlaylistItem.js').then(module => ['m-playlist-item', module.default]),
    import('../../../es/components/molecules/Details.js').then(module => ['m-details', module.default]),
    import('../../../es/components/molecules/Flyer.js').then(module => ['m-flyer', module.default]),
    import('../../../es/components/atoms/Link.js').then(module => ['a-link', module.default]),
    import('../../../es/components/atoms/Logo.js').then(module => ['a-logo', module.default]),
    import('../../../es/components/atoms/Video.js').then(module => ['a-video', module.default]),
    import('../../../es/components/atoms/Title.js').then(module => ['a-title', module.default]),
    import('../../../es/components/organisms/IntersectionScrollEffect.js').then(module => ['o-intersection-scroll-effect', module.default]),
    import('../../../es/components/atoms/Picture.js').then(module => ['a-picture', module.default])
    ]).then(elements => elements.forEach(element => {
      // don't define already existing customElements
      if (element && !customElements.get(element[0])) customElements.define(...element)
    }))
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
