<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>Classics</title>
</head>
<body>
  <main>
    <m-newsletter>
      <m-form type="newsletter" namespace="newsletter-">
        <form action="https://nlink.migros-kulturprozent-classics.ch/dispatcher/service" method="post" id="online_form" redirect="https://peerweb.site/#ipfs:QmNzbP6F52d5cSn3FbaX2YmkFF4qfTZkMoJSBpbZUrVt88">
          <!--
          <input type="radio" id="gender1" name="gender" value="herr">
          <label for="gender1">Herr</label>
          <input type="radio" id="gender2" name="gender" value="frau">
          <label for="gender2">Frau</label>
          <label for="name">Name, Vorname</label>
          <input type="text" name="name">
          <label for="zip">PLZ</label>
          <input type="number" name="zip" min="1000" max="9999">
          <label for="place">Ort</label>
          <input type="text" name="place">
          <label for="mail">E-Mail</label>
          <input type="email" name="mail">
          <label for="policy">Ich akzeptiere die Datenschutzbestimmungen</label>
          <input type="checkbox" name="policy">
          <button type="submit">Absenden</button>
          -->
          <input type="hidden" name="tets">   
          <input type="hidden" name="ac" value="reg">
          <input type="hidden" name="clientCode" value="ASrrB9ASTmKaGVqEBe">
          <input type="hidden" name="doubleOptin" value="1">
          <input type="hidden" name="xp_sendBackParams" value="0">
          <input type="hidden" name="trackId" value="null" id="trackId">
          <label for="Sprache" class="required">Sprache</label>
          <select name="Sprache" id="Sprache" class="required">
              <option value="EN">Englisch</option>
              <option value="DE">Deutsch</option>
              <option value="FR">Französisch</option>
          </select>
          <label class="required" for="Email">Email</label>
          <input id="Email" type="email" required="" value="" name="Email">
          <label for="Anrede" class="required">Anrede</label>
          <select name="Anrede" id="Anrede" class="required">
              <option value="0">keine Anrede</option>
              <option value="2">Herr</option>
              <option value="1">Frau</option>
          </select>
          <label class="required" for="Firstname">Vorname</label>
          <input id="Firstname" type="text" required="" value="" name="Vorname">
          <label class="required" for="Name">Name</label>
          <input id="Name" type="text" required="" value="" name="Name">
          <button type="submit">Registrieren</button>
          <p class="footer"></p>
        </form>
      </m-form>
    </m-newsletter>
  </main>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }

    /**
    * First level controllers and organisms are loaded and defined here (loadChildComponents)
    */
    Promise.all([
    // Controllers
    import('../../../es/components/prototypes/Shadow.js').then(module => null), // preload the dependency
    import('../../../es/components/pages/General.js').then(module => ['p-general', module.default]),
    import('../../../es/components/thirdParty/MacroCarousel.js').then(module => ['third-party-macro-carousel', module.default]),
    import('../../../es/components/organisms/Body.js').then(module => ['o-body', module.default]),
    import('../../../es/components/organisms/HighlightList.js').then(module => ['o-highlight-list', module.default]),
    import('../../../es/components/organisms/Header.js').then(module => ['o-header', module.default]),
    import('../../../es/components/organisms/Playlist.js').then(module => ['o-playlist', module.default]),
    import('../../../es/components/organisms/Footer.js').then(module => ['o-footer', module.default]),
    import('../../../es/components/molecules/Navigation.js').then(module => ['m-navigation', module.default]),
    import('../../../es/components/molecules/Highlight.js').then(module => ['m-highlight', module.default]),
    import('../../../es/components/molecules/PlaylistItem.js').then(module => ['m-playlist-item', module.default]),
    import('../../../es/components/molecules/Newsletter.js').then(module => ['m-newsletter', module.default]),
    import('../../../es/components/atoms/Link.js').then(module => ['a-link', module.default]),
    import('../../../es/components/atoms/Button.js').then(module => ['a-button', module.default]),
    import('../../../es/components/atoms/Logo.js').then(module => ['a-logo', module.default]),
    import('../../../es/components/atoms/Video.js').then(module => ['a-video', module.default]),
    import('../../../es/components/atoms/Title.js').then(module => ['a-title', module.default]),
    import('../../../es/components/atoms/Picture.js').then(module => ['a-picture', module.default]),
    import('../../../es/components/atoms/Input.js').then(module => ['a-input', module.default]),
    import('../../../es/components/molecules/Form.js').then(module => ['m-form', module.default])

    ]).then(elements => elements.forEach(element => {
      // don't define already existing customElements
      if (element && !customElements.get(element[0])) customElements.define(...element)
    }))
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
